.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f8f9fa;
    text-align: center;
}

.verification-container, .success-container {
    background-color: white;
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%; /* Set a width to ensure it fits well */
    max-width: 500px; /* Limit the maximum width */
}

.verification-container {
    display: block; /* Show verification container initially */
}

.success-container h1 {
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
}

.success-container p {
    color: #000000;
    font-size: 1.1rem;
}

.success-container strong {
    color: #b91d23;
}

.verify-button, .home-button {
    background-color: transparent;
    color: #FFD700;
    border: 2px solid #FFD700;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: bold;
}

.verify-button:hover, .home-button:hover {
    color: #ffffff;
    border-color: #b91d23;
    background-color: #b91d23;
}

.code-input {
    width: 50px;
    height: 50px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5px;
}
.input-output-container {
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: row; /* Ensure items are aligned horizontally */
    align-items: center; /* Center items vertically */
}
.code-input {
    width: 50px;
    height: 50px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5px; /* Space between input and output */
}

.output {
    /* Add styles for your output element here */
    margin-left: 10px; /* Space between input and output */
}

.resend-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.resend-timer {
    color: #b91d23;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    display: none; /* Hidden initially */
}

.success-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.verification-container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px; /* Small spacing between logo and "Masukan Kode Verifikasi" */
}

.verification-container h5 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0; /* Adds slight separation from the logo */
}

.verification-container p {
    font-size: 0.85rem;
    color: #000000;
}
